## Usage of uv
- Install deps: `uv sync`
- Run scripts: `uv run {{project_name_snake_case}} <args>`
- Install scripts to system: `uv tool install .`
- Run tests: `uv run pytest`
- Typecheck: `uv run mypy src`
