name: Test with pytest

on:
  push:
    branches: [ main ]
    paths: [ "{{project_dir}}/**", ".github/workflows/pytest.yml" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
    env:
      project_dir: {{ project_dir }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '{% raw %}${{ matrix.python-version }}{% endraw %}'
      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
        working-directory: '{% raw %}${{ env.project_dir }}{% endraw %}'
      - name: Install dependencies
        run: |
          uv --version
          uv sync
        working-directory: '{% raw %}${{ env.project_dir }}{% endraw %}'
      - name: Run tests
        run: |
          uv run pytest -q
        working-directory: '{% raw %}${{ env.project_dir }}{% endraw %}'
      - name: Typecheck
        run: |
          uv run poe mypy
        working-directory: '{% raw %}${{ env.project_dir }}{% endraw %}'
